.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex: 1;
  width: 100%;

  .errorCode {
    color: lime;
    font-size: 128px;
    line-height: 120%;
    letter-spacing: -0.32px;
  }

  .errorTitle {
    color: black;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -0.32px;
    text-align: center;
  }

  .errorDescription {
    font-size: 20px;
    line-height: 120%;
    color: white;
    opacity: 0.8;
    text-align: center;
  }

  .errorButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
  }
}

@media (max-width: 600px) {
  .errorContainer {
    padding: 0 16px;

    .errorTitle {
      font-size: 40px;
    }
    .errorDescription {
      font-size: 18px;
    }
  }
}
