/* Обнуляющие стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-size: 16px;
  background-color: #f8f9fa;
  line-height: 1.5;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,
footer {
  text-align: center;
}

header {
  flex-shrink: 0;
}

footer {
  flex-shrink: 0;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Анимация фона */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #ff69b4, #333);
  z-index: -1;
  animation: backgroundAnimation 5s infinite alternate;
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}
