.heroStatsIconContainer {
  position: relative;
  width: 160px;
  height: 160px;

  .heroStatsIconImage {
    object-fit: contain;
  }

  .heroStatsIconStat {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    color: #988e35;

    &.top57 {
      top: 57%;
    }

    &.left50 {
      left: 50%;
    }

    &.top47 {
      top: 47%;
    }

    &.left53 {
      left: 53%;
    }

    &.top50 {
      top: 50%;
    }

    &.left45 {
      left: 45%;
    }
    &.top63 {
      top: 63%;
    }

    &.left51 {
      left: 51%;
    }
  }

  .heroStatsIconBuff {
    position: absolute;
    top: 82%;
    left: 49%;
    transform: translate(-40%, -50%);
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #988e35;

    &.top72 {
      top: 72%;
    }

    &.left51 {
      left: 51.5%;
    }

    &.top75 {
      top: 75%;
    }

    &.left48 {
      left: 48%;
    }

    &.left44 {
      left: 44%;
    }

    &.top81 {
      top: 81%;
    }

    &.top87 {
      top: 87%;
    }

    &.left50 {
      left: 50%;
    }
  }
}
